<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Coded by Sumanjay @cyberboysumanjay on 5th August 2020 -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta Tags -->
    <meta name="author" content="Sumanjay">
    <meta name="description" content="Create Payment Link of your UPI ID!">
    <link rel="icon" href="https://telegra.ph/file/2f094c81af60c83f28f84.png" type="image/png" />

    <!-- Get Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>UPI Link</title>
</head>

<body>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="qr responsive" src="{{ qr }}" />

                    <!--<span class="card-title center">Payment QR</span>-->
                    <br>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">share</i></a>

                </div>
                <div class="card-content">
                    <p class="center display-id">
                        You're paying to <b>{{ id }}</b>
                        <br>
                        <p class="center pay-text"><b>Click on Pay Now and use any UPI App to Pay</b>
                            <br><br><img class="responsive" alt="UPI Apps" src="https://telegra.ph/file/7d64009e34ffb8c246b87.png">

                            <br><br>
                            <a class="waves-effect waves-light btn center red" href="upi://pay?pn=UPAYI&pa={{ id }}&cu=INR"><i class="material-icons right">payment</i>Pay Now</a><br><br>
                            <span class="center">Secure and instant payments powered by</span>
                            <br>
                            <div class="center bhim">
                                <img height="46px" src="https://telegra.ph/file/03c4581ebd2a0e21972de.png">

                                <img height="46px" src="https://telegra.ph/file/e290ab4d1dbf1ae1dab10.png">
                            </div>
                        </p>
                        <div class="create center">
                            <span>
                              <span class = "create-text">
                              <b><u>Create your own Payment Link</u></b> 
                              </span>
                            <br> Just add your UPI ID<br> {{ base_url }}&lt;your UPI ID&gt; and you're done.
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>